*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Retrochips";
    src: url("fontes/Retrochips.otf");
}

#menu{
    background: #e5e5ea;
    height:5rem;
    
}

#logo{
    width: 15rem;
}

#nav-principal li a {
    color: #0030ff;
    
}

.js .anime {
    opacity: 0;
    transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
    opacity: 1;
    transform: translate3D(0px, 0px, 0px);
    transition: .3s all ease;
    border:  1 px solid rgb(0, 0, 0);
}


.home{
    width: 100%;
   
    justify-content: center;
    margin: auto;
    
}

#roxo {
    
}


#cinza {
    background-image: url(/imagens/animacao.gif);
}

#home {
    background-image: url(/img/background.gif);
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}



h1 {
    font-size: 14px;
    font-family: monaco;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #0030ff;
    margin-bottom: 40px;
    
}

h2 , p , h4{
    color: #0030ff;
    text-align: justify;
}

h5 {
    color: #0030ff;
    text-align: left;
}

footer {
    text-align: center;
    margin-bottom: 120px;
}







@font-face {
    font-family: "Retrochips";
    src: url("fontes/Retrochips.otf");
}


h1{
    font-family:"Retrochips"
}



h1{
    font-family:"Retrochips"
}

